name: Build and Upload to Lambda

on:
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'
      - '.gitignore'
      - 'LICENSE'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

    - name: Set up Go
      uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6
      with:
        go-version: '1.25.5'

    - name: Sync Discord commands
      run: go run . --config-string '${{ secrets.DISCORD_CONFIG }}'

    - name: Build endpoint binary for Lambda
      run: |
        CGO_ENABLED=0 GOOS=linux GOARCH=amd64 go build -tags lambda.norpc -o bootstrap ./cmd/endpoint/
        zip endpoint.zip bootstrap

    - name: Build task binary for Lambda
      run: |
        CGO_ENABLED=0 GOOS=linux GOARCH=amd64 go build -tags lambda.norpc -o bootstrap ./cmd/task/
        zip task.zip bootstrap

    - name: Upload endpoint binary to Lambda
      uses: appleboy/lambda-action@bdbe5c99e38d855e0fa2ae1aba355da64c860a57 # v0.2.0
      with:
        aws_access_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws_region: ${{ secrets.AWS_REGION }}
        function_name: ${{ vars.AWS_LAMBDA_ENDPOINT_FUNCTION_NAME }}
        zip_file: endpoint.zip

    - name: Upload task binary to Lambda
      uses: appleboy/lambda-action@bdbe5c99e38d855e0fa2ae1aba355da64c860a57 # v0.2.0
      with:
        aws_access_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws_region: ${{ secrets.AWS_REGION }}
        function_name: ${{ vars.AWS_LAMBDA_TASK_FUNCTION_NAME }}
        zip_file: task.zip
