name: Build and Upload to Lambda

on:
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'
      - '.gitignore'
      - 'LICENSE'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.24.3'

    - name: Sync Discord commands
      run: go run . --config-string '${{ secrets.DISCORD_CONFIG }}'

    - name: Build endpoint binary for Lambda
      run: |
        CGO_ENABLED=0 GOOS=linux GOARCH=amd64 go build -tags lambda.norpc -o bootstrap ./cmd/endpoint/
        zip endpoint.zip bootstrap

    - name: Build task binary for Lambda
      run: |
        CGO_ENABLED=0 GOOS=linux GOARCH=amd64 go build -tags lambda.norpc -o bootstrap ./cmd/task/
        zip task.zip bootstrap

    - name: Upload endpoint binary to Lambda
      uses: appleboy/lambda-action@v0.2.0
      with:
        aws_access_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws_region: ${{ secrets.AWS_REGION }}
        function_name: ${{ vars.AWS_LAMBDA_ENDPOINT_FUNCTION_NAME }}
        zip_file: endpoint.zip

    - name: Upload task binary to Lambda
      uses: appleboy/lambda-action@v0.2.0
      with:
        aws_access_key_id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws_secret_access_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws_region: ${{ secrets.AWS_REGION }}
        function_name: ${{ vars.AWS_LAMBDA_TASK_FUNCTION_NAME }}
        zip_file: task.zip
