on:
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'
      - '.gitignore'
      - 'LICENSE'
  pull_request:
    paths-ignore:
      - '**.md'
      - '.gitignore'
      - 'LICENSE'

name: Run Tests

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

    - uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6
      with:
        go-version: '1.25.5'
        cache: false

    - name: Install dependencies
      run: go mod download

    - name: Build binaries
      run: |
        go build -o cli .
        CGO_ENABLED=0 GOOS=linux GOARCH=amd64 go build -tags lambda.norpc -o endpoint ./cmd/endpoint/
        CGO_ENABLED=0 GOOS=linux GOARCH=amd64 go build -tags lambda.norpc -o task ./cmd/task/

    - name: Run tests
      run: go test -coverprofile=coverage.out ./internal/...

    - name: Coveralls
      uses: coverallsapp/github-action@5cbfd81b66ca5d10c19b062c04de0199c215fb6e # v2
      with:
        file: ./coverage.out
