on:
  push:
    branches:
      - main
    paths-ignore:
      - '**.md'
      - '.gitignore'
      - 'LICENSE'
  pull_request:
    paths-ignore:
      - '**.md'
      - '.gitignore'
      - 'LICENSE'

name: Run Tests

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5

    - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6
      with:
        go-version: '1.24.3'
        cache: false

    - name: Install dependencies
      run: go mod download

    - name: Build binaries
      run: |
        go build -o cli .
        CGO_ENABLED=0 GOOS=linux GOARCH=amd64 go build -tags lambda.norpc -o endpoint ./cmd/endpoint/
        CGO_ENABLED=0 GOOS=linux GOARCH=amd64 go build -tags lambda.norpc -o task ./cmd/task/

    - name: Run tests
      run: go test -coverprofile=coverage.out ./internal/...

    - name: Coveralls
      uses: coverallsapp/github-action@v2
      with:
        file: ./coverage.out
